name: pymc-extras-test
channels:
- conda-forge
- nodefaults
dependencies:
- pymc>=5.21
- pytest-cov>=2.5
- pytest>=3.0
- dask
- xhistogram
- statsmodels
- numba<=0.60.0
- pip
- pip:
  - blackjax
  - scikit-learn
  - better_optimize
